#yellow{
    border: 1px solid green;
   background: yellow;
   border-width: 1px;
   
}

#red{
   border: 1px solid black;
    background: red;
    border-width: 1px;
   
}

#green{
   border: 1px solid yellow;
   background: green;
   border-width: 1px; 
}
